.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-not-running {
  color: red;
}

.cheatsheet {
  text-align: center;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  font-size: 8pt;
  border-left: 1px solid #dddbda;
}
.linkrow {
  cursor: pointer;
}